torch==2.0.0.dev20230206
torchvision==0.15.0.dev20230206
torchaudio==2.0.0.dev20230206
numpy==1.23.5
scipy==1.10.0
scikit-learn==1.2.1
tqdm==4.64.1
scenedetect==0.6.1
opencv-python==4.7.0.68
python_speech_features==0.6
ffmpeg==1.4
pandas==1.5.3
gdown==4.6.0
youtube-dl==2021.12.17
moviepy==1.0.3
pydub==0.25.1
PyYAML==6.0
matplotlib==3.7.0
seaborn==0.12.2
audonnx==0.6.3
insightface==0.7.2
tsfresh==0.20.0
catboost==1.1.1
xgboost==1.7.4
shap==0.41.0